*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #f7edff;
}
.button{
    margin: 50px;
}
.button button{
    background-color: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    cursor: pointer;
}
#toastbox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    /* padding: 20px; */
}
.toast{
    width: 400px;
    height: 80px;
    background-color: #fff;
    font-weight: 500;
    margin: 5px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    padding: 5px 5px;
    position: relative;
}

.toast::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
        width: 0;
    }
}
.toast.eroor::after{
    background: red;
}
.toast.invalid::after{
    background: rgb(112, 85, 36);
}
.toast i{
    /* margin: 0 20px; */
    color: green;
    font-size: 35px;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
}
.toast.eroor i {
    /* margin: 0 20px; */
    color: red;
    font-size: 35px;
    /* align-items: center; */
    /* display: flex; */
}
.toast.invalid i {
     /* margin: 0 20px; */
    color: orange;
    font-size: 35px;
    /* align-items: center; */
    /* display: flex; */
}